* {
  margin: 0;
}
.upper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f7f7;
  text-align: center;
}
.upper-item {
  width: 80%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kurs {
  margin-top: 58px;
  padding: 5px 25px;
  width: 150px;
  border-radius: 50px;
  background: rgb(230, 250, 238);
  font-size: 14px;
}
.main_text {
  font-size: 45px;
  margin-top: 20px;
}
.description {
  color: var(--brown-60, #7e7e7e);
  text-align: center;
  margin-top: 12px;
  font-size: 18px;
}
.buttons {
  display: flex;
  margin-top: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}
.u-btn {
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  width: 290px;
}
.green_btn {
  background-color: #00c508;
  color: white;
  border: none;
}
.white_btn {
  background-color: #fff;
  color: #00c508;
  border: 1px solid #00c508;
}

.container2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(32, 45, 76);
  /* border: 1px solid red; */
  gap: 20px;
}
.l-box {
  width: 40%;
  /* border: 1px solid red; */
}
.r-box {
  width: 40%;
  /* border: 1px solid red; */
}
.box-c {
  width: 100%;
  height: 500px;
  background: rgb(31, 47, 87);
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid rgb(41, 60, 108);
}
.biz_kurs {
  font-size: 45px;
  color: white;
  /* margin-top: 20px; */
  color: #00b533;
  margin-top: 50px;
}
.c2-desc {
  color: rgb(186, 197, 227);
  font-size: 20px;
  font-weight: 400;
  margin-top: 18px;
  text-align: center;
}
.l-card_items {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.title {
  margin-top: 25px;
  font-size: 30px;
  color: #ffcc19;
  font-weight: 900;
  margin-left: 50px;
}

.details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
  gap: 40px;
  margin-left: 30px;
}

.details-item {
  text-align: center;
  font-size: 16px;
}

.details-item span:first-child {
  display: block;
  color: #a0aec0;
}

.details-item span:last-child {
  font-size: 29px;
  font-weight: bold;
}

.divider {
  width: 1px;
  height: 60px;
  background-color: #a0aec0;
}
.container-child {
  display: flex;
  margin-top: 20px;
  width: 510px;
  height: 260px;
  background-color: rgb(42, 62, 111);
  flex-direction: column;
  border-radius: 20px;
  margin: auto;
}
.inkoniyat {
  font-size: 22px;
  color: #fff;
  margin-top: 20px;
  margin-left: 22px;
  font-weight: 900;
}
.line {
  margin-top: 10px;
  margin-left: 22px;
  width: 450px;
  height: 1px;
  background-color: rgb(57, 80, 135);
}
.i-description {
  align-items: start;
  justify-content: center;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.k-yozilish {
  height: 40px;
  width: 160px;
  font-size: 16px;
  color: #fff;
  background-color: #00c508;
  margin-top: 26px;
  margin-left: 400px;
  font-weight: 200;
  border: #00b533;
  border-radius: 50px;
}

.section3 {
  width: 100%;
  height: 3200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}
.kurslarimiz {
  font-size: 20px;
  font-weight: 400;
  color: #999898;
}
.tanishuv {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  gap: 150px;
}
.titles {
  display: flex;
  /* align-items: center;
  justify-content: start; */
  flex-direction: column;
}
.pdp-title {
  font-size: 27px;
  font-weight: 900;
  color: #000000;
  /* margin-left: 140px; */
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eafbea;
  border-radius: 25px;
  padding: 5px;
  border: 1px solid #cce5cc;
}

button {
  height: 45px;
  width: 110px;
  border: none;
  background: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.standard-btn {
  background-color: #00d100;
  color: white;
}

.bootcamp-btn {
  color: black;
}

.standard-btn:hover {
  background-color: #00b800;
}

.bootcamp-btn:hover {
  color: #00d100;
}
.card-container {
  display: flex;
  gap: 20px;
}

.card {
  margin-top: 30px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 470px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.card-logo {
  width: 30px;
  height: 30px;
}

.card h3 {
  margin: 0;
  font-size: 25px;
  color: #333;
}

.card p {
  font-size: 19px;
  color: #555;
  margin: 10px 0;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.card-info div {
  text-align: center;
}

.card-info h4 {
  font-size: 29px;
  color: #333;
  margin: 0;
}

.card-info p {
  font-size: 15px;
  color: #777;
  margin: 5px 0 0 0;
}

.enroll-button {
  height: 50px;
  width: 180px;
  background-color: #00b800;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}

.enroll-button:hover {
  background-color: #00a944;
}
.feedback-section {
  margin-top: 70px;
  text-align: center;
  max-width: 1200px;
  /* margin: 0 auto; */
  padding: 20px;
}

.s-feedback {
  font-size: 44px;
  font-weight: bold;
  color: #1b2a41;
  margin-bottom: 10px;
}

.feedback-section p {
  font-size: 20px;
  color: #555;
  margin-bottom: 35px;
}

.video-container {
  display: flex;
  justify-content: space-between;
  gap: 47px;
}

.video-card {
  width: 300px;
  height: 170px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ddd;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.afzal {
  margin-top: 0px;
  color: #bfbfbf;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 90px;
}
.container-pr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.card-pdp {
  display: flex;
  background-color: #1d2746;
  border-radius: 20px;
  padding: 20px;
  width: 1100px;
  height: 420px;
  /* width: 80%; */
  /* max-width: 1200px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* color: white; */
  position: relative;
}

.content {
  flex: 1;
}

.title-pdp {
  color: #00ff00;

  font-size: 2.5rem;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: rgb(186, 197, 227);
}

.subtitle {
  font-size: 1.5rem;
  color: #77aaff;
  margin-bottom: 10px;
}

.objective {
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgb(186, 197, 227);
}

.image-container {
  position: relative;
  display: flex;
  /* align-items: flex-end; */
}

.person-image {
  width: 300px;
  border-radius: 10px;
}

.circle {
  position: absolute;
  width: 250px;
  height: 250px;
  border: 3px solid #00ff00;
  border-radius: 50%;
  margin-top: 200px;
  bottom: 10px;
  right: 5px;
}

.vertical-text {
  position: absolute;
  right: 0px;
  bottom: 30%;
  transform: rotate(-90deg);
  font-size: 2.5rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.1em;
}

.container-pdp {
  width: 90%;
  /* margin: 30px auto; */
}

.subtitle {
  font-size: 22px;
  color: #a1a1a1;
  margin: 0;
  margin-left: 100px;
}

.title-ustoz {
  font-size: 40px;
  color: #02cd02;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 100px;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides {
  display: flex;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  justify-content: space-evenly;
}

/* .card-img {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 250px;
  height: 280px;
  position: relative;
} */

.ustoz-img {
  width: 250px;
  height: 280px;
  border-radius: 20px;
  /* border-radius: 50%; */
  margin-bottom: 15px;
  background: linear-gradient(to right, #06a835, #f1c40f);
}

.name {
  font-size: 20px;
  font-weight: bold;
  color: #06a835;
}

.role {
  font-size: 16px;
  color: #a1a1a1;
}

.arrow {
  background-color: white;
  color: #06a835;
  border: 1px solid #06a835;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.arrow.left {
  left: -25px;
}

.arrow.right {
  right: -25px;
}

.arrow:hover {
  background-color: #06a835;
  color: white;
}

/* ===================================media ========================= */
@media (max-width: 650px) {
  .buttons {
    flex-direction: column;
    gap: 10px;
    width: 80%;
  }
  .buttons button {
    width: 100%;
  }
  .main_text {
    font-size: 26px;
  }
  .description {
    font-size: 18px;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4.4rem;
  font-weight: 900;
  word-spacing: 12px;
  padding-inline-start: 1rem;
}
.icons{
  border-radius: 50px;
  height: 80px;
  width: 90px;
}
.icon-desc{
  color: #202d4c;
  /* font-size: px; */
}
.body__inner-wrapper {
  width: 100%;
  max-width: 104rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: center;
  margin-inline: auto;
}

.marquee {
  width: 100%;
  height: 12rem;
  pointer-events: none;
  overflow: hidden;
}

.marquee__inner-wrap {
  height: 100%;
  width: 100%;
}

.marquee span {
  text-align: center;
  color: lightgray;
  /* white-space: nowrap; */
}

.marquee__img {
  width: 150px;
  margin: 0 30px;
}

.marquee__div {
  width: 100px;
  height: 8rem;
  margin: 0 4vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marquee__inner {
  height: 100%;
  width: fit-content;
  align-items: center;
  display: flex;
  position: relative;
  animation: marquee 50s linear infinite;
  will-change: transform;
}

@keyframes marquee {
  to {
    transform: translateX(-50%);
  }
}
